
body{
    display: contents;
    max-width: 700px;
    min-width: 300px;
}

input[type="number"]{
    font-size: 18;
}

.fullscreen{
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

div.container{
    display: flexbox;
    border: 3px solid #98D9A7;
    box-shadow: 2px 2px 7px 1px #000000;
    min-width: 300px;
    max-width: 700px;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

.js-search-form{
    display: flexbox;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 15%;
    margin-right: 15%;
}


.results{
    display: inline-flex;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.small-images{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h4 {
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-size: 24px;
}

h2{ 
    font-size: 17px;
}

h3{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: auto;
    margin-right: auto;
}

h4{
    font-size: 15px;
    margin: 0px;
}

#query-label{
    text-align: left;
}


p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    line-height: 14px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
}

p.instructions{
    font-size: 12px;
    margin-top: 6px;
    line-height: 6px;
    margin-left: auto;
    margin-right: auto;
}
  

hidden{
  display: none;
  }

